
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1><center> Are you sure? </center></h1><br>
    <form>
      <center>
        <button type="button">Yes</button>
        <button type="button">No</button>
      </center>
    </form>
  </body>
</html>

  